.kobe {
    color: purple;
}

.hover-kobe {
    color: #ffc107 !important
}

.hover-kobe:hover {
    color: purple !important
}

hover-kobe2 {
    color: purple !important
}

.hover-kobe2:hover {
    color: #ffc107 !important
}

.gigi {
    background-image: url("/img/about/shotgun.jpg");
    background-size: cover
}

.reverse-kobe {
    color: purple !important;
    background-color: #ffc107;
}

.reverse-kobe:hover {
    color: #ffc107 !important;
    background-color: purple;
}
